name: Check outdate pod and create issue

on: 
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  check-outdated-pods:
    runs-on: macos-latest
    name: Check outdate pods and create issue if it doesn't exist
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Check outdated pods and create issue
        id: check-outdated-pods-and-create-issue
        uses: rudderlabs/github-action-updated-pods-notifier@main
        with:
          outdated-pod-names: "AppsFlyerFramework"
          directory: "Example"
          title: "fix: update AppsFlyer SDK to the latest version"
          assignee: "@rudderlabs/sdk-ios"
          labels: "outdatedPod"
          color: "FBCA04"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get the github issue url
        if: steps.check-outdated-pods-and-create-issue.outputs.issue-url != ''
        run: echo "The Github issue url is ${{ steps.check-outdated-pods-and-create-issue.outputs.issue-url }}"
